.app {
  background-color: #000;
  height: 100vh;
  display: block;
  width: 100%;
}
.wrapper{
  height: 100%;
  background:url(/public/Vector.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container{
  color: aliceblue;
  height: 100%;
  width: 92%;
  margin: auto;
}

/* media queries */
@media(min-width:1200px){
  
}

